# Pandas 한번에 제대로 배우기



---

In [2]:
import numpy as np
import pandas as pd
pd.__version__

'1.3.5'

## Pandas 객체

### Series 객체

In [4]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0])
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [5]:
s.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [6]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
s[1]

0.25

In [9]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0],
              index = ['a', 'b', 'c', 'd', 'e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [10]:
s['c']

0.5

In [12]:
s[['c', 'e', 'd']]

c    0.50
e    1.00
d    0.75
dtype: float64

In [13]:
'b' in s

True

In [15]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1],
              index = [2, 4, 6, 8, 10])
s

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [16]:
s[2:]

6     0.50
8     0.75
10    1.00
dtype: float64

In [17]:
s.unique() #unique한 값만 출력

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [20]:
s.value_counts()

0.00    1
0.25    1
0.50    1
0.75    1
1.00    1
dtype: int64

In [21]:
s.isin([0.25, 0.75])

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [34]:
pop_tuple = {'서울특별시': 9706240,
             '부산광역시': 1000200,
             '인천광역시': 1224320,
             '대구광역시': 2838490,
             '대전광역시': 1833340,
             '광주광역시': 1000020}
population = pd.Series(pop_tuple)
population

서울특별시    9706240
부산광역시    1000200
인천광역시    1224320
대구광역시    2838490
대전광역시    1833340
광주광역시    1000020
dtype: int64

In [23]:
population['서울특별시']

970624

In [25]:
population['서울특별시':'인천광역시']

서울특별시    970624
부산광역시    100020
인천광역시    122432
dtype: int64

### DataFrame 객체

In [26]:
pd.DataFrame({'A':2, 'B':4, 'D':3}, {'A':4, 'B':3, 'C':7})

   A  B  D
A  2  4  3
B  2  4  3
C  2  4  3

In [27]:
pd.DataFrame(np.random.rand(5,5),
             columns=['A', 'B', 'C', 'D', 'E'],
             index=[1,2,3,4,5])

          A         B         C         D         E
1  0.041295  0.884355  0.542874  0.004489  0.761297
2  0.858982  0.751209  0.755633  0.191782  0.761669
3  0.519369  0.016700  0.314210  0.787138  0.367302
4  0.709429  0.576020  0.772892  0.095346  0.484426
5  0.000918  0.557856  0.792601  0.820894  0.432739

In [30]:
male_tuple = {'서울특별시': 4732755,
             '부산광역시': 1558618,
             '인천광역시': 1476813,
             '대구광역시': 1198815,
             '대전광역시': 734441,
             '광주광역시': 720060}
male = pd.Series(male_tuple)
male

서울특별시    4732755
부산광역시    1558618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
dtype: int64

In [31]:
female_tuple = {'서울특별시': 495571,
             '부산광역시': 17358121,
             '인천광역시': 1470404,
             '대구광역시': 1229030,
             '대전광역시': 736559,
             '광주광역시': 734988}
female = pd.Series(female_tuple)
female

서울특별시      495571
부산광역시    17358121
인천광역시     1470404
대구광역시     1229030
대전광역시      736559
광주광역시      734988
dtype: int64

In [35]:
korea_df = pd.DataFrame({'인구수':population,
                         '남자인구수':male,
                         '여자인구수':female})
korea_df

           인구수    남자인구수     여자인구수
서울특별시  9706240  4732755    495571
부산광역시  1000200  1558618  17358121
인천광역시  1224320  1476813   1470404
대구광역시  2838490  1198815   1229030
대전광역시  1833340   734441    736559
광주광역시  1000020   720060    734988

In [36]:
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [38]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [39]:
korea_df['여자인구수']

서울특별시      495571
부산광역시    17358121
인천광역시     1470404
대구광역시     1229030
대전광역시      736559
광주광역시      734988
Name: 여자인구수, dtype: int64

In [40]:
korea_df['서울특별시':'인천광역시']

           인구수    남자인구수     여자인구수
서울특별시  9706240  4732755    495571
부산광역시  1000200  1558618  17358121
인천광역시  1224320  1476813   1470404

### Index 객체

In [42]:
idx = pd.Index([2, 4, 6, 8, 10])
idx

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [43]:
idx[1]

4

In [44]:
idx[1:2:2]

Int64Index([4], dtype='int64')

In [45]:
idx[-1::]

Int64Index([10], dtype='int64')

In [46]:
idx[::2]

Int64Index([2, 6, 10], dtype='int64')

In [47]:
print(idx)
print(idx.size)
print(idx.shape)
print(idx.ndim)
print(idx.dtype)

Int64Index([2, 4, 6, 8, 10], dtype='int64')
5
(5,)
1
int64

#### Index 연산

In [57]:
idx1 = pd.Index([1, 2, 4, 6, 8])
idx2 = pd.Index([2, 4, 6, 5, 7])
print(idx1.append(idx2))
print(idx1.difference(idx2))
print(idx1 - idx2)
print(idx1.intersection(idx2)) #교집합
print(idx1 & idx2)
print(idx1.union(idx2))
print(idx1 | idx2)
print(idx1.delete(0))
print(idx1.drop(1))
print(idx1 ^ idx2) #여집합

Int64Index([1, 2, 4, 6, 8, 2, 4, 6, 5, 7], dtype='int64')
Int64Index([1, 8], dtype='int64')
Int64Index([-1, -2, -2, 1, 1], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([1, 5, 7, 8], dtype='int64')

<ipython-input-57-b990f7922a19>:7: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  print(idx1 & idx2)
<ipython-input-57-b990f7922a19>:9: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  print(idx1 | idx2)
<ipython-input-57-b990f7922a19>:12: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  print(idx1 ^ idx2)



---

## 인덱싱(Indexing)

In [60]:
s = pd.Series([0, 2.5, 0.5, 0.75, 1],
              index=['a','b','c','d','e'])
s

a    0.00
b    2.50
c    0.50
d    0.75
e    1.00
dtype: float64

In [62]:
s['a']

0.0

In [64]:
'b' in s

True

In [65]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [66]:
list(s.items())

[('a', 0.0), ('b', 2.5), ('c', 0.5), ('d', 0.75), ('e', 1.0)]

In [67]:
s['f'] = 1.25
s

a    0.00
b    2.50
c    0.50
d    0.75
e    1.00
f    1.25
dtype: float64

In [68]:
s['a':'d']

a    0.00
b    2.50
c    0.50
d    0.75
dtype: float64

In [69]:
s[0:4]

a    0.00
b    2.50
c    0.50
d    0.75
dtype: float64

In [70]:
s[(s > 0.4) & (s < 0.8)]

c    0.50
d    0.75
dtype: float64

In [73]:
s[['a', 'c', 'd']]

a    0.00
c    0.50
d    0.75
dtype: float64

### Series 인덱싱

In [76]:
s = pd.Series(['a', 'b', 'c', 'd', 'e'],
              index=[1, 3, 5, 7, 9])

In [77]:
s[1]

'a'

In [78]:
s[2:4]

5    c
7    d
dtype: object

In [79]:
s.iloc[1] #int로 접근하여 0부터 시작

'b'

In [81]:
s.iloc[2:4]

5    c
7    d
dtype: object

In [82]:
s.reindex(range(10)) #10개의 레인지 값을 인덱스로 하겠다는 의미

0    NaN
1      a
2    NaN
3      b
4    NaN
5      c
6    NaN
7      d
8    NaN
9      e
dtype: object

In [83]:
s.reindex(range(10), method='bfi11')

ValueError: ignored

### DataFrame 인덱싱

In [84]:
korea_df

           인구수    남자인구수     여자인구수
서울특별시  9706240  4732755    495571
부산광역시  1000200  1558618  17358121
인천광역시  1224320  1476813   1470404
대구광역시  2838490  1198815   1229030
대전광역시  1833340   734441    736559
광주광역시  1000020   720060    734988

In [85]:
korea_df['남자인구수']

서울특별시    4732755
부산광역시    1558618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
Name: 남자인구수, dtype: int64

In [86]:
korea_df.남자인구수

서울특별시    4732755
부산광역시    1558618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
Name: 남자인구수, dtype: int64

In [87]:
korea_df.여자인구수

서울특별시      495571
부산광역시    17358121
인천광역시     1470404
대구광역시     1229030
대전광역시      736559
광주광역시      734988
Name: 여자인구수, dtype: int64

In [88]:
korea_df['남여비율'] = (korea_df['남자인구수'] * 100 / korea_df['여자인구수'])

In [90]:
korea_df.남여비율

서울특별시    955.010483
부산광역시      8.979186
인천광역시    100.435867
대구광역시     97.541557
대전광역시     99.712447
광주광역시     97.968946
Name: 남여비율, dtype: float64

In [91]:
korea_df.values

array([[9.70624000e+06, 4.73275500e+06, 4.95571000e+05, 9.55010483e+02],
       [1.00020000e+06, 1.55861800e+06, 1.73581210e+07, 8.97918617e+00],
       [1.22432000e+06, 1.47681300e+06, 1.47040400e+06, 1.00435867e+02],
       [2.83849000e+06, 1.19881500e+06, 1.22903000e+06, 9.75415572e+01],
       [1.83334000e+06, 7.34441000e+05, 7.36559000e+05, 9.97124467e+01],
       [1.00002000e+06, 7.20060000e+05, 7.34988000e+05, 9.79689464e+01]])

In [92]:
korea_df.T

,서울특별시,부산광역시,인천광역시,대구광역시,대전광역시,광주광역시
인구수,9.706240e+06,1.000200e+06,1.224320e+06,2.838490e+06,1.833340e+06,1.000020e+06
남자인구수,4.732755e+06,1.558618e+06,1.476813e+06,1.198815e+06,7.344410e+05,7.200600e+05
여자인구수,4.955710e+05,1.735812e+07,1.470404e+06,1.229030e+06,7.365590e+05,7.349880e+05
남여비율,9.550105e+02,8.979186e+00,1.004359e+02,9.754156e+01,9.971245e+01,9.796895e+01

In [93]:
korea_df.values[0]

array([9.70624000e+06, 4.73275500e+06, 4.95571000e+05, 9.55010483e+02])

In [94]:
korea_df['인구수']

서울특별시    9706240
부산광역시    1000200
인천광역시    1224320
대구광역시    2838490
대전광역시    1833340
광주광역시    1000020
Name: 인구수, dtype: int64

In [95]:
korea_df.loc[:'인천광역시', :'남자인구수']

           인구수    남자인구수
서울특별시  9706240  4732755
부산광역시  1000200  1558618
인천광역시  1224320  1476813

In [96]:
korea_df.loc[(korea_df.여자인구수 > 1000000)]

           인구수    남자인구수     여자인구수        남여비율
부산광역시  1000200  1558618  17358121    8.979186
인천광역시  1224320  1476813   1470404  100.435867
대구광역시  2838490  1198815   1229030   97.541557

In [99]:
korea_df.loc[(korea_df.인구수 < 2000000)]

           인구수    남자인구수     여자인구수        남여비율
부산광역시  1000200  1558618  17358121    8.979186
인천광역시  1224320  1476813   1470404  100.435867
대전광역시  1833340   734441    736559   99.712447
광주광역시  1000020   720060    734988   97.968946

In [100]:
korea_df.loc[(korea_df.인구수 > 2500000)]

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9706240  4732755   495571  955.010483
대구광역시  2838490  1198815  1229030   97.541557

In [101]:
korea_df.loc[(korea_df.남여비율 > 100)]

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9706240  4732755   495571  955.010483
인천광역시  1224320  1476813  1470404  100.435867

In [102]:
korea_df.loc[(korea_df.인구수 > 2500000) & (korea_df.남여비율 > 100)]

           인구수    남자인구수   여자인구수        남여비율
서울특별시  9706240  4732755  495571  955.010483

In [103]:
korea_df.iloc[:1, :2]

           인구수    남자인구수
서울특별시  9706240  4732755

### 다중 인덱싱(Multi Indexing)

* 1차원의 Series와 2차원의 DataFrame 객체를 넘어 3차원, 4차원 이상의 고차원 데이터 처리
* 단일 인덱스 내에 여러 인덱스를 포함하는 다중 인덱싱

#### 다중 인덱스 Series

In [104]:
korea_df

           인구수    남자인구수     여자인구수        남여비율
서울특별시  9706240  4732755    495571  955.010483
부산광역시  1000200  1558618  17358121    8.979186
인천광역시  1224320  1476813   1470404  100.435867
대구광역시  2838490  1198815   1229030   97.541557
대전광역시  1833340   734441    736559   99.712447
광주광역시  1000020   720060    734988   97.968946

In [117]:
idx_tuples = [('서울특별시', 2010), ('서울특별시', 2020),
              ('부산광역시', 2010), ('부산광역시', 2020),
              ('인천광역시', 2010), ('인천광역시', 2020),
              ('대구광역시', 2010), ('대구광역시', 2020),
              ('대전광역시', 2010), ('대전광역시', 2020),
              ('광주광역시', 2010), ('광주광역시', 2020)]
idx_tuples

[('서울특별시', 2010),
 ('서울특별시', 2020),
 ('부산광역시', 2010),
 ('부산광역시', 2020),
 ('인천광역시', 2010),
 ('인천광역시', 2020),
 ('대구광역시', 2010),
 ('대구광역시', 2020),
 ('대전광역시', 2010),
 ('대전광역시', 2020),
 ('광주광역시', 2010),
 ('광주광역시', 2020)]

In [118]:
pop_tuples = [10322545, 9720846, 
              3567910, 3404423, 
              2758296, 294727,
              2635472, 2427915,
              1503664, 1471040,
              1453636, 1455048]
population = pd.Series(pop_tuples, index=idx_tuples)
population

(서울특별시, 2010)    10322545
(서울특별시, 2020)     9720846
(부산광역시, 2010)     3567910
(부산광역시, 2020)     3404423
(인천광역시, 2010)     2758296
(인천광역시, 2020)      294727
(대구광역시, 2010)     2635472
(대구광역시, 2020)     2427915
(대전광역시, 2010)     1503664
(대전광역시, 2020)     1471040
(광주광역시, 2010)     1453636
(광주광역시, 2020)     1455048
dtype: int64

In [119]:
midx = pd.MultiIndex.from_tuples(idx_tuples)
midx

MultiIndex([('서울특별시', 2010),
            ('서울특별시', 2020),
            ('부산광역시', 2010),
            ('부산광역시', 2020),
            ('인천광역시', 2010),
            ('인천광역시', 2020),
            ('대구광역시', 2010),
            ('대구광역시', 2020),
            ('대전광역시', 2010),
            ('대전광역시', 2020),
            ('광주광역시', 2010),
            ('광주광역시', 2020)],
           )

In [120]:
populaiton = population.reindex(midx)
population

(서울특별시, 2010)    10322545
(서울특별시, 2020)     9720846
(부산광역시, 2010)     3567910
(부산광역시, 2020)     3404423
(인천광역시, 2010)     2758296
(인천광역시, 2020)      294727
(대구광역시, 2010)     2635472
(대구광역시, 2020)     2427915
(대전광역시, 2010)     1503664
(대전광역시, 2020)     1471040
(광주광역시, 2010)     1453636
(광주광역시, 2020)     1455048
dtype: int64

In [121]:
population = population.reindex(midx)
population

서울특별시  2010    10322545
       2020     9720846
부산광역시  2010     3567910
       2020     3404423
인천광역시  2010     2758296
       2020      294727
대구광역시  2010     2635472
       2020     2427915
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1453636
       2020     1455048
dtype: int64

In [122]:
population[:, 2010]

서울특별시    10322545
부산광역시     3567910
인천광역시     2758296
대구광역시     2635472
대전광역시     1503664
광주광역시     1453636
dtype: int64

In [123]:
population['대전광역시', :]

2010    1503664
2020    1471040
dtype: int64

In [124]:
korea_mdf = population.unstack() #다중인덱싱으로 만든 시리즈를 데이터 프레임으로 변환
korea_mdf

           2010     2020
광주광역시   1453636  1455048
대구광역시   2635472  2427915
대전광역시   1503664  1471040
부산광역시   3567910  3404423
서울특별시  10322545  9720846
인천광역시   2758296   294727

In [128]:
korea_mdf.stack()

광주광역시  2010     1453636
       2020     1455048
대구광역시  2010     2635472
       2020     2427915
대전광역시  2010     1503664
       2020     1471040
부산광역시  2010     3567910
       2020     3404423
서울특별시  2010    10322545
       2020     9720846
인천광역시  2010     2758296
       2020      294727
dtype: int64

In [130]:
male_tuples = [5111259, 4732275,
              1773270, 1668618,
              1391248, 1476384,
              1255245, 1298815,
              7233648, 734441,
              721780, 729565]
male_tuples

[5111259,
 4732275,
 1773270,
 1668618,
 1391248,
 1476384,
 1255245,
 1298815,
 7233648,
 734441,
 721780,
 729565]

In [133]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples})
korea_mdf

                총인구수    남자인구수
서울특별시 2010  10322545  5111259
      2020   9720846  4732275
부산광역시 2010   3567910  1773270
      2020   3404423  1668618
인천광역시 2010   2758296  1391248
      2020    294727  1476384
대구광역시 2010   2635472  1255245
      2020   2427915  1298815
대전광역시 2010   1503664  7233648
      2020   1471040   734441
광주광역시 2010   1453636   721780
      2020   1455048   729565

In [135]:
female_tuples = [5201286, 4988571,
                 1794735, 1735805,
                 1233553, 1473838,
                 1782953, 1734849,
                 128314, 738482,
                 734555, 734988]
female_tuples

[5201286,
 4988571,
 1794735,
 1735805,
 1233553,
 1473838,
 1782953,
 1734849,
 128314,
 738482,
 734555,
 734988]

In [137]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples,
                          '여자인구수': female_tuples})
korea_df

           인구수    남자인구수     여자인구수        남여비율
서울특별시  9706240  4732755    495571  955.010483
부산광역시  1000200  1558618  17358121    8.979186
인천광역시  1224320  1476813   1470404  100.435867
대구광역시  2838490  1198815   1229030   97.541557
대전광역시  1833340   734441    736559   99.712447
광주광역시  1000020   720060    734988   97.968946

In [140]:
ratio = korea_mdf['남자인구수'] * 100 / korea_mdf['여자인구수']
ratio

서울특별시  2010      98.269140
       2020      94.862336
부산광역시  2010      98.804002
       2020      96.129346
인천광역시  2010     112.783804
       2020     100.172746
대구광역시  2010      70.402585
       2020      74.866170
대전광역시  2010    5637.458111
       2020      99.452796
광주광역시  2010      98.260852
       2020      99.262165
dtype: float64

In [141]:
ratio.unstack()

              2010        2020
광주광역시    98.260852   99.262165
대구광역시    70.402585   74.866170
대전광역시  5637.458111   99.452796
부산광역시    98.804002   96.129346
서울특별시    98.269140   94.862336
인천광역시   112.783804  100.172746

In [142]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples,
                          '여자인구수': female_tuples,
                          '남여비율': ratio})
korea_df

           인구수    남자인구수     여자인구수        남여비율
서울특별시  9706240  4732755    495571  955.010483
부산광역시  1000200  1558618  17358121    8.979186
인천광역시  1224320  1476813   1470404  100.435867
대구광역시  2838490  1198815   1229030   97.541557
대전광역시  1833340   734441    736559   99.712447
광주광역시  1000020   720060    734988   97.968946

#### 다중 인덱스 생성

In [147]:
df = pd.DataFrame(np.random.rand(6, 3),
                  index=[['a', 'a', 'b','b','c','c'], [1, 2, 3, 2, 1, 2]],
                  columns=['c1', 'c2', 'c3'])
df

           c1        c2        c3
a 1  0.396578  0.697675  0.240759
  2  0.260370  0.939144  0.184190
b 3  0.155276  0.493937  0.208438
  2  0.151215  0.778054  0.353915
c 1  0.522811  0.746612  0.694421
  2  0.340241  0.676621  0.373967

In [148]:
pd.MultiIndex.from_arrays([['a', 'a', 'b','b','c','c'], [1, 2, 3, 2, 1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 3),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [150]:
pd.MultiIndex.from_arrays([('a', 1), ('a', 2), ('b', 1), ('b', 2), ('c', 1), ('c', 2)])

MultiIndex([('a', 'a', 'b', 'b', 'c', 'c'),
            (  1,   2,   1,   2,   1,   2)],
           )

In [151]:
pd.MultiIndex.from_product([('a', 'b', 'c'), [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [155]:
pd.MultiIndex(levels=[('a', 'b', 'c'),(1, 2)],
                      codes=[(0, 0, 1, 1, 2, 2), (0, 1, 0, 1, 0, 1)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [156]:
population

서울특별시  2010    10322545
       2020     9720846
부산광역시  2010     3567910
       2020     3404423
인천광역시  2010     2758296
       2020      294727
대구광역시  2010     2635472
       2020     2427915
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1453636
       2020     1455048
dtype: int64

In [158]:
population.index.names = ['행정구역', '년도']
population

행정구역   년도
서울특별시  2010    10322545
       2020     9720846
부산광역시  2010     3567910
       2020     3404423
인천광역시  2010     2758296
       2020      294727
대구광역시  2010     2635472
       2020     2427915
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1453636
       2020     1455048
dtype: int64

In [163]:
idx = pd.MultiIndex.from_product([['a', 'b', 'c'], [1, 2]],
                                 names=['name1', 'name2'])
cols = pd.MultiIndex.from_product([['c1', 'c2', 'c3'], [1, 2]],
                                   names=['col_name1', 'col_name2'])
data = np.round(np.random.randn(6,6), 2)
mdf = pd.DataFrame(data, index = idx, columns = cols )
mdf

col_name1      c1          c2          c3
col_name2       1     2     1     2     1     2
name1 name2
a     1      1.47 -0.74  0.62  0.55 -0.64 -0.39
      2      0.30  0.67 -0.17  0.58 -0.80 -0.16
b     1     -0.00 -1.02 -0.91  0.09  0.15  0.24
      2      0.95 -0.12 -0.24 -2.38 -0.50 -1.05
c     1     -1.73  0.34 -1.49  1.28  1.00 -0.92
      2      0.16 -0.71 -0.54 -0.59 -0.62  1.29

In [164]:
mdf['c2']

col_name2       1     2
name1 name2
a     1      0.62  0.55
      2     -0.17  0.58
b     1     -0.91  0.09
      2     -0.24 -2.38
c     1     -1.49  1.28
      2     -0.54 -0.59

#### 인덱싱 및 슬라이싱

#### 다중 인덱스 재정렬

## 데이터 연산

### 연산자 범용 함수

#### add()

#### sub() / subtract()

#### mul() / multply()

#### truediv() /  div() / divide() / floordiv()

#### mod()

#### pow()

### 정렬(Sort)

### 순위(Ranking)

### 고성능 연산

## 데이터 결합

### Concat() / Append()

### 병합과 조인

## 데이터 집계와 그룹 연산

#### 집계 연산(Aggregation)

### GroupBy 연산

### 피벗 테이블(Pivot Table)

### 범주형(Categorical) 데이터

## 문자열 연산

#### 문자열 연산자

#### 기타 연산자

#### 정규표현식

## 시계열 처리

#### 시계열 데이터 구조

### 시계열 기본

### 주기와 오프셋

### 시프트(Shift)

### 시간대 처리

* 국제표준시(Coordinated Universal Time, UTC)를 기준으로 떨어진 거리만큼 오프셋으로 시간대 처리
* 전 세계의 시간대 정보를 모아놓은 올슨 데이터베이스를 활용한 라이브러리인 `pytz` 사용

### 기간과 기간 연산

### 리샘플링(Resampling)

* 리샘플링(Resampling): 시계열의 빈도 변환
* 다운샘플링(Down sampling): 상위 빈도 데이터를 하위 빈도 데이터로 집계
* 업샘플링(Up sampling): 하위 빈도 데이터를 상위 빈도 데이터로 집계

### 무빙 윈도우(Moving Window)

## 데이터 읽기 및 저장

### 텍스트 파일 읽기/쓰기

### 이진 데이터 파일 읽기/쓰기

## 데이터 정제

### 누락값 처리

* 대부분의 실제 데이터들은 정제되지 않고 누락값들이 존재
* 서로 다른 데이터들은 다른 형태의 결측을 가짐
* 결측 데이터는 `null`, `NaN`, `NA`로 표기

#### None: 파이썬 누락 데이터

#### NaN: 누락된 수치 데이터

#### Null 값 처리

### 중복 제거

### 값 치환

## 참고문헌

* Pandas 사이트: https://pandas.pydata.org/
* Jake VanderPlas, "Python Data Science Handbook", O'Reilly
* Wes Mckinney, "Python for Data Analysis", O'Reilly